<h2 class="page-header">새 카메라 추가</h2>
<form class="form-horizontal" role="form" ng-init="init()">
  <div class="form-group col-sm-10">
    <label for="inputName">카메라 이름</label>
    <input type="text" class="form-control" id="inputName" placeholder="카메라의 이름을 입력해주세요" ng-model="name" limit-length="10"/>
  </div>
  <div class="form-group col-sm-10">
    <label for="inputMaker">제조사</label>
  	<div class="input-group">
      <input type="text" class="form-control" id="inputMaker" placeholder="카메라의 제조사를 입력해주세요" ng-model="maker" limit-length="10"/>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li class="complete-list" ng-repeat="item_maker in makers"><a ng-click="maker_complete(item_maker)">{{item_maker}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-10">
    <label for="inputMount">마운트</label>
  	<div class="input-group">
      <input type="text" class="form-control" id="inputMount" placeholder="마운트를 입력해주세요" ng-model="mount" limit-length="10"/>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li class="complete-list" ng-repeat="item_mount in mounts"><a ng-click="mount_complete(item_mount)">{{item_mount}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-10">
    <label for="inputShutter">셔터스피드</label>
    <rzslider id="inputShutter" ng-model="mount" rz-slider-model="shutter.minValue" rz-slider-high="shutter.maxValue" rz-slider-options="shutter.options"></rzslider>
  </div>
  <div class="text-right form-group col-sm-10">
	<span id="adderr" class="hidden text-warning" style="margin-right: 10px;">{{error_msg}}</span>
	<button type="button" ng-click="submit()" class="btn btn-primary">추가</button>
	<button type="button" ng-click="close()" class="btn btn-default">취소</button>
  </div>
</form>